<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Dashboard</title>
</head>
<body>
  

    <h1>Hello, <%= user.first_name %></h1>

    <form action="/user/logout" method="post">
        <input type="submit" value="Logout">
    </form>

   
    <h3>Details About You:</h3>
    <ul>
        <li>First Name: 
            <%= user.first_name %>
        </li>
        <li>Last Name:
            <%= user.last_name %>
        </li>
        <li>E-mail:
            <%= user.email %>
        </li>
        <li>Birthday:
            <%= user.birthday %>
        </li>
        <li>Last Updated:
            <%= user.updatedAt %> 
        </li>
    </ul>
</body>
</html>