<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Dashboard</title>
</head>
<body>
    <div id="errors">
        <% if ( expressFlash.length > 0 ) { %>
                <% for (var x = 0; x < expressFlash.length; x++) { %>
                <li><%= expressFlash[x] %></li>
                <% } %>
                </ul>
        <% } %>
    </div>
   
    
    <!-- <h1>Hello, <%= user_info%></h1> -->

    <form action="/user/logout" method="post">
        <input type="submit" value="Logout">
    </form>

   
    <h3>Details About You:</h3>
    <ul>

        <li>First Name: 
            <%= user %>
        </li>
        <li>Last Name:
            <%=  %>
        </li>
        <li>E-mail:
            <%= %>
        </li>
        <li>Birthday:
            <%=  %>
        </li>
        <li>Last Updated:
            <%=  %> 
        </li>
    </ul>
</body>
</html>